body{
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 26px ;
}
header{
    background-color: rgb(232, 144, 89);
    color: white;
    text-align: center;
    padding: 20px 0;
    font-weight: bold;
}
.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: beige;
}
.grid-container{
    gap: 20px;
    padding: 10px;
    margin: 0;
}
.item{
    background-color: antiquewhite;
    padding: 10px;
    box-shadow: 0px 1px 1px gray;
    border-radius: 5px;
    
}

.khung{
    background-color: rgb(162, 162, 162);
    text-align: center;
    height:60px;
    border-radius: 5px;
    padding-top: 40px;
}
.tieudetintuc{
    font-weight: bold;
    color: blue;
}
footer{
    background-color: rgb(46, 46, 210);
    color: white;
    padding: 1px;
    text-align: center;
}
@media (max-width: 600px){
    .grid-container{
        grid-template-columns: 1fr;
    }
    
}