* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: antiquewhite;
}

.content {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.side-img {
    width: 20%;
    height: 80%;
    margin: 5px;
}

.main-form {
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    height: 80%;
    width: 50%;
    margin: 5px;
    border-radius: 10px;
    box-shadow: 1px 1px 5px gray;
}
h3 {
    color: orangered;
    margin: 10px;
    text-align: center;
}

form {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
 .row {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
 }
 label {
    margin: 5px 0px;
    font-weight: bold;
 }

 input, select {
    height: 2rem;
    padding: 0px 10px;
 }

 textarea
 {
    padding: 0px 10px;
 }

 #xoa {
    color: white;
    background-color: rgb(208, 11, 11);
    border-radius: 5px;
    height: 2rem;
    width: 4rem;
 }

 #dangky {
    color: white;
    background-color: rgb(21, 170, 21);
    border-radius: 5px;
    height: 2rem;
    width: 5rem;
 }
.button {
    margin: 5px 0px;
}
 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
 }