p {
    font-family: Arial;
    font-size: 12pt;
    text-align: justify;
}

span#p1 {
    color: red;
}

span#p2 {
    color: blueviolet;
    font-style: italic;
}

span#p3 {
    color: blue;
    font-weight: bold;
    text-decoration: underline;
}